#title{
    background-image:url("/client/assets/images/somewherebetween_title.png");
    background-size:98%;
    background-repeat:no-repeat;
    display:block;
    margin:0px;
    padding-top:12px;
    padding:0px;
    width:175px;
    height:100px;
}

#logo{
    background-image:url("/assets/images/somewherebetween.png");
    background-size:98%;
    background-repeat:no-repeat;
    float:none;
    display:inline-block;
    margin:0px auto;
    padding:0px;
    width:270px;
    height:185px;
}

#motto{
    width:200px;
    height:185px;
    display:inline-block;
    text-align:center;
    margin:0px auto;
    float:none;
    vertical-align:top;
    padding-top:55px;
}

#input_form{
    display:inline-block;
    padding-top:10px;
    float:right;
    margin:0px auto;
    padding:0px;
    width:400px;
    height:185px;
    float:right;
    text-align:center;
    vertical-align:top;
    margin-right:10px;
}

body{
    margin:0px;
    padding:0px;
}

#map_canvas {
    min-height: 500px;
}

.address{
    width:100%;
}

.address_div{
    width:100%;
}

.address_div{
    display:inline-block;
}